<fieldset>
  <div class="legend-container">
    <legend tabindex="0"><div>{{legend}}</div></legend><div class="arrow-down">{{{arrow}}}</div>
  </div>
  <div class="checkboxes-container">
    {{{checkboxes}}}
  </div>
</fieldset>
