<fieldset>
  <div class="legend-container">
    <legend tabindex="0">{{legend}}<div class="arrow-down">{{downArrow}}</div></legend>
  </div>
  <div class="checkboxes-container">
    {{{checkboxes}}}
  </div>
</fieldset>
